.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eeefea;
    padding: 20px;
    box-sizing:border-box;
}

.wrapper{
    background: #fff;
    padding: 65px 200px 65px 200px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.input{
    width : 100%;
    padding: 10px;
    font-size: 16px;

}

.btn{
    flex:1;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    background-color: #344966;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    margin:40px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo{
    width: 150px;
    height: 70px;
    margin-bottom:80px;
}