.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px; /* 버튼과 페이지 간 간격 */
}

.carousel-track-wrapper {
    overflow: hidden;
    width: 350px;
 
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out; 
    height: 40px;
}

.carousel-item {
    flex: 0 0 calc(100% / 7); /* 한 번에 7개 표시 */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #75a4e6;
    color: white;
    margin: 0 5px;
    transition: opacity 0.3s, transform 0.3s;
    max-width:40px;
}

.carousel-item:hover {
    background-color: #648cc4;
}

.carousel-btn {
    background-color: #648cc4;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.carousel-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.carousel-btn:hover {
    background-color: #0056b3;

}

.carousel-btn.prev {
    left: 10px;
}

.carousel-btn.next {
    right: 10px;
}


.InputMonth {
    background-color: #f9f9f9;
    border: 0;
    appearance: none; 
}

.InputMonth::-webkit-datetime-edit-text {
    -webkit-appearance: none;
    display: none;
}

.InputMonth::-webkit-datetime-edit-month-field{
    -webkit-appearance: none;
    display: none;
}

.InputMonth::-webkit-datetime-edit-day-field {
    -webkit-appearance: none;
    display: none;
}

.InputMonth::-webkit-datetime-edit-year-field {
    -webkit-appearance: none;
    display: none;
}
